.typewriter {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  color: white;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
body {
  background-color: black;
}
main {
  color: white;
  font-size: 20px;
}
a {
text-decoration: none;
color: pink;
}

a:hover {
  color: #ffde59;
  text-decoration: underline;
}

pre {
 
}
