.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 4s steps(40, end), blink-caret 0.9s step-end infinite;
  color: #ffde59;
  font-family: "Special Elite", cursive;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
body {
  background-color: black;
}
main {
  color: white;
  font-size: 20px;
}
a {
text-decoration: none;
color: pink;
}

a:hover {
  color: #ffde59;
  text-decoration: underline;
}

pre {
 
}
